*{
    margin: 0;
    padding: 0;
}
.main1{
    background: rgb(25,1,1);
    margin: 0px;
    height: 700px;
    background: linear-gradient(90deg, rgba(25,1,1,1) 0%, rgba(124,179,214,1) 55%, rgba(5,77,92,1) 100%);
    display:flex;
}
.form1{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    margin: auto;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.form1 h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #FF7200;
    font-size: 30px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form1 input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #FF7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form1 input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #FF7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #FF7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form1 .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding-top: 20px;
    text-align: center;
}
.form1 .link a{
    text-decoration: none;
    color: #FF7200;
}