  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
  }
  
  .app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app_nav {
    padding: 30px;
    box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .app_boards_container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding-top: 20px;
  }
  
  .app_boards {
    height: 100%;
    width: fit-content;
    padding: 10px 30px;
    display: flex;
    gap: 30px;
  }
  
  .app_boards_last {
    flex-basis: 290px;
    min-width: 290px;
  }
  
  .app_boards_add-board {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
  }
  .app_boards_add-board_edit {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  
  .savebutton{
    width: fit-content;
    right:12px;
    float: right;
    padding: 4px;
    margin: 12px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
  }